<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- fontawesome Script -->
    <link rel="stylesheet" href="./fontawesome/css/all.min.css" />

    <!-- GOogle font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- pe-icon -->
    <link
      rel="stylesheet"
      href="/pe Icon/pe-icon-7-stroke/css/pe-icon-7-stroke.css"
    />
    <link rel="stylesheet" href="/pe Icon/pe-icon-7-stroke/css/helper.css" />

    <!-- css style -->
    <!-- css style -->
    <link rel="stylesheet" href="/Component/6. Choose/choose.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/Media/XtraSmall.css" />
    <link rel="stylesheet" href="/css/Media/small.css" />
    <link rel="stylesheet" href="/css/Media/medium.css" />
    <link rel="stylesheet" href="/css/Media/large.css" />
    <link rel="stylesheet" href="/css/Media/xtraLarge.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- 6 CHOOSE SECTION -->
    <div class="chooseSection">
      <div class="container">
        <!-- title row -->
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="commonTitle text-center">
              <div class="commonBar"></div>
              <div class="common-h1">Why Choose Nipro</div>
            </div>
          </div>
        </div>
        <!-- choose section row -->
        <div class="row">
          <!-- choose 1 -->
          <div class="col-lg-4 col-md-6">
            <!-- heading -->
            <div class="chooseCard">
              <div class="row align-items-center">
                <div class="col-md-2 col-12">
                  <div class="chooseIcon">
                    <i class="pe-7s-diamond"></i>
                  </div>
                </div>
                <div class="col-md-10 col-12">
                  <div class="chooseHeader">
                    <h4>Creative Design</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="chooseText">
                    <p>
                      Lorem Ipsum is simply dummy lol Is the printing
                      typesetting industry. Lorem some
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- choose 1 end -->

          <!-- choose 1 -->
          <div class="col-lg-4 col-md-6">
            <!-- heading -->
            <div class="chooseCard">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="chooseIcon">
                    <i class="pe-7s-vector"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="chooseHeader">
                    <h4>Minimal Design</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="chooseText">
                    <p>
                      Lorem Ipsum is simply dummy lol Is the printing
                      typesetting industry. Lorem some
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- choose 1 end -->
          <!-- choose 1 -->
          <div class="col-lg-4 col-md-6">
            <!-- heading -->
            <div class="chooseCard">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="chooseIcon">
                    <i class="pe-7s-photo"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="chooseHeader">
                    <h4>Retina Display</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="chooseText">
                    <p>
                      Lorem Ipsum is simply dummy lol Is the printing
                      typesetting industry. Lorem some
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- choose 1 end -->
          <!-- choose 1 -->
          <div class="col-lg-4 col-md-6">
            <!-- heading -->
            <div class="chooseCard">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="chooseIcon">
                    <i class="pe-7s-wristwatch"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="chooseHeader">
                    <h4>Full Responsive</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="chooseText">
                    <p>
                      Lorem Ipsum is simply dummy lol Is the printing
                      typesetting industry. Lorem some
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- choose 1 end -->
          <!-- choose 1 -->
          <div class="col-lg-4 col-md-6">
            <!-- heading -->
            <div class="chooseCard">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="chooseIcon">
                    <i class="pe-7s-config"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="chooseHeader">
                    <h4>Updates & Support</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="chooseText">
                    <p>
                      Lorem Ipsum is simply dummy lol Is the printing
                      typesetting industry. Lorem some
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- choose 1 end -->
          <!-- choose 1 -->
          <div class="col-lg-4 col-md-6">
            <!-- heading -->
            <div class="chooseCard">
              <div class="row align-items-center">
                <div class="col-md-2">
                  <div class="chooseIcon">
                    <i class="pe-7s-edit"></i>
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="chooseHeader">
                    <h4>Easy to Customize</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="chooseText">
                    <p>
                      Lorem Ipsum is simply dummy lol Is the printing
                      typesetting industry. Lorem some
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- choose 1 end -->
        </div>
      </div>
    </div>

    <!-- 6 CHOOSE SECTION END -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
