@media (max-width: 575.98px) {
  /* headerSection */
  .header-section {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu ul li a {
    padding: 10px 0 0 !important;
    font-size: 20px;
    text-align: right;
  }
  .search {
    text-align: right;
  }
  .nav-item {
    padding: 0 5px !important;
  }

  .col-2 {
    text-align: center;
  }
  .dropdown-toggle {
    padding-top: 10px;
  }
  .dropdown-menu[data-bs-popper] {
    top: -5px !important;
    left: 20px !important;
    right: 5px !important;
  }
  .form-control {
    width: 100% !important;
    margin: 0 10px !important;
  }
  .button {
    padding: 0.375rem 0rem !important;
  }

  /* headerSection */
  /* slider Section */
  .slider-section {
    background-position: top center;
  }
  .customSlider h1 {
    font-size: 25px;
    text-align: center !important;
  }
  .customSlider p {
    padding-right: 0 !important;
    text-align: center !important;
  }
  .customSlider button {
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }
  .customSlider button span {
    padding-left: 15px;
  }
  /* slider Section */
}
