.header-section {
  /* border-bottom: 1px solid black; */
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #8e8e8e;
  padding-top: 20px;
  padding-bottom: 20px;
}
.logo {
}
.menu {
}
.menu ul {
}
.menu ul li {
  padding-right: 15px;
  padding-left: 15px;
}
.menu ul li a {
  color: #8e8e8e;
  font-weight: 700;
  border-bottom: 1px solid transparent;
}
.menu ul li a:hover {
  color: #333333;
  font-weight: 700;
  border-bottom: 1px solid #333333;
}

.search {
}
.search a {
}
.search a i {
  color: #8e8e8e;
}
.dropdown-toggle::after {
  display: none !important;
}
.btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #8e8e8e;
}

.dropdown-menu[data-bs-popper] {
  top: 64px !important;
  left: -290px !important;
}

.form-control {
  width: 250px !important;
  margin: 0 10px !important;
}
